In [1]:
# Import statements and setup matplotlib for jupyter
import pandas as pd
import numpy as np # for MinMaxScalar
#import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
#%matplotlib inline

In [2]:
url = 'https://raw.githubusercontent.com/PacktPublishing/Machine-Learning-with-R-Third-Edition/master/Chapter07/letterdata.csv'
df = pd.read_csv(url)
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [3]:
# Scale all numeric values into a small range. We will use min-max scaling.
# df_numeric = df.drop(columns=["letter"])
# min_max_scalar = preprocessing.MinMaxScaler()
# df_numeric_minmax = min_max_scalar.fit_transform(df_numeric)
# df_numeric_minmax = pd.DataFrame(df_numeric_minmax)
# df_numeric_minmax.insert(0, "letter", df["letter"])
# df = df_numeric_minmax
df

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

In [4]:
# Split data into testing and training set. Data does not need to be randomly filtered as it was already as mentioned by author.
X = df.drop('letter', axis=1)
y = df['letter']
# Data is split into an 80% training set and 20% testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=800)

In [5]:
# from sklearn.model_selection import GridSearchCV
# clf = GridSearchCV(SVC(gamma='auto'), {
#     'C': [1, 5, 10, 20, 40, 100],
#     'kernel': ['rbf', 'linear', 'poly']
# }, cv=5, return_train_score=False)

# clf.fit(X_train,y_train)
# clf.cv_results_

In [6]:
# clf_df = pd.DataFrame(clf.cv_results_)
# clf_df[['param_C', 'param_kernel', 'mean_test_score']]

In [7]:
# clf.best_params_

In [8]:
SVM_Model = SVC(C=5, gamma='auto', kernel='rbf')
SVM_Model.fit(X_train,y_train)
print(f'Accuracy - : {SVM_Model.score(X_test,y_test): .3f}')

Accuracy - :  0.979

In [9]:
# from sklearn import cross_validation, datasets, svm
# X, y = datasets.make_classification()
# X_train, X_test, y_train, y_test = cross_validation.train_test_split(X, y)
from sklearn.metrics import classification_report
y_predict = SVM_Model.predict(X_test)
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

           A       1.00      1.00      1.00       151
           B       0.97      0.94      0.96       160
           C       0.99      0.99      0.99       155
           D       0.96      0.98      0.97       176
           E       0.99      0.99      0.99       167
           F       0.96      0.97      0.97       159
           G       0.97      0.98      0.97       153
           H       0.94      0.94      0.94       150
           I       0.97      0.95      0.96       130
           J       0.97      0.97      0.97       154
           K       0.97      0.94      0.96       159
           L       0.99      0.98      0.99       143
           M       0.98      0.99      0.99       150
           N       0.99      0.99      0.99       151
           O       1.00      0.99      0.99       153
           P       0.97      0.94      0.96       181
           Q       0.99      1.00      0.99       154
           R       0.93      0.99      0.96       140
           S       1.00      1.00      1.00       133
           T       0.98      0.99      0.98       154
           U       1.00      1.00      1.00       160
           V       0.98      0.98      0.98       133
           W       0.99      0.98      0.98       166
           X       0.98      0.99      0.99       160
           Y       0.99      0.99      0.99       164
           Z       0.99      1.00      1.00       144

    accuracy                           0.98      4000
   macro avg       0.98      0.98      0.98      4000
weighted avg       0.98      0.98      0.98      4000